{% extends 'base.html' %}

{% load cache %}

{% block head %}
	{% load static from staticfiles %}
	<link rel="stylesheet" href="{% static "css/count_down.css" %}" />
{% endblock %}

{% cache 10000 count_down %}

	{% block body %}
		<div class="count-down-wrapper" style="background-image: url({% static 'img/count_down/wrapper.jpg' %});">
			<div class="count-down-container">
				<div class="count-down-content">
					<p class="next-event-date">31 de Marzo 2016</p>
					<h1>Chilango Django</h1>
					<h2>7º Meetup</h2>
					<p class="event-place">Centraal - 7:00 p.m a 10:00 p.m</p>
					<p class="remining-time" id="ReminingTime">Faltan sólo</p>
					<div class="count-down-data">
						<div class="count-down-item">
							<p class="count-down-item-value" id="Days">00</p>
							<p class="count-down-item-title">Días</p>
						</div>
						<div class="count-down-item">
							<p class="count-down-item-value" id="Hours">00</p>
							<p class="count-down-item-title">Horas</p>
						</div>
						<div class="count-down-item">
							<p class="count-down-item-value" id="Minutes">00</p>
							<p class="count-down-item-title">Minutos</p>
						</div>
						<div class="count-down-item">
							<p class="count-down-item-value" id="Seconds">00</p>
							<p class="count-down-item-title">Segundos</p>
						</div>
					</div>
					<div class="chilango-social">
						<p class="social-box">
							<a target="_blank" href="https://fb.com/chilangodjango">
								<img src="{% static "img/base/facebook.svg" %}" alt="Faceook Link" />
								Chilango Django
							</a>
						</p>
						<p class="social-box">
							<a target="_blank" href="http://www.meetup.com/es-ES/Chilango-Django/">
								<img src="{% static "img/base/event.png" %}" alt="Eventbrite Link" />
								Aparta tu entrada
							</a>
						</p>
						<p class="social-box">
							<a target="_blank" href="https://twitter.com/ChilangoDjango">
								<img src="{% static "img/base/twitter.svg" %}" alt="Twitter Link" />
								@ChilangoDjango
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block body_scripts %}
		<script>
			CountDownTimer('31/03/16 7:00 PM', 'countdown');

			function CountDownTimer(dt, id)
			{
				var end = new Date(dt)

				var _second = 1000;
				var _minute = _second * 60;
				var _hour = _minute * 60;
				var _day = _hour * 24;
				var timer;

				function ShowRemaining()
				{
					var now = new Date();
					var distance = end - now;
					if (distance < 0)
					{
						clearInterval(timer);
						document.getElementById('ReminingTime').innerHTML = "Nos vemos en Centraal";
						return;
					}
					var days = Math.floor(distance / _day);
					var hours = Math.floor( (distance % _day) / _hour );
					var minutes = Math.floor( (distance % _hour) / _minute );
					var seconds = Math.floor( (distance % _minute) / _second );
					document.getElementById('Days').innerHTML = days
					document.getElementById('Hours').innerHTML = hours
					document.getElementById('Minutes').innerHTML = minutes
					document.getElementById('Seconds').innerHTML = seconds
				}
				timer = setInterval(ShowRemaining, 1000);

			}
		</script>
	{% endblock %}

{% endcache %}
